/* homepage styling */
.homeSection{
    display: flex;
    justify-content:space-between;
}

.homeArticle{
    width: 50%;
}

.homeImage{
    width: 15rem;
    height: auto;
    margin-right: 8%;
    margin-top: 2rem;
}

.callToAction{
    text-decoration: none;
    color: white;
    background-color: #2596be;
    padding: 0.8rem;
    border-radius: 20px;
    width: 7rem;
    text-align: center;
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.callToAction:hover{
    background-color: white;
    color: black;
    border-color: #2596be;
    border-style: solid;
    border-width: 0.01rem;
    
    
}

.homeTitle{
    font-size: 30pt;
    text-transform: uppercase;
}

.featuredBooks{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}
.featuredBooksTitle{
    text-transform: uppercase;
}

/* books page styling */
/*singleBook also used in home*/
.singleBook{
    margin: 1rem;
    width: 282px;
}

.titleSection{
    display: flex;
    justify-content: space-between;
}
.titleSection p{
    width: 50%;
}
.feruchemyImage{
    height: auto;
    width: 15rem;
    margin-right: 8%;
    margin-top: -3rem;    
    margin-bottom: 2rem;    
}
.booksList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
}