/* homepage styling */
.homeSection{
    display: flex;
    justify-content:space-between;
}

.homeArticle{
    width: 50%;
}

.homeImage{
    width: 15rem;
    height: auto;
    margin-right: 8%;
    margin-top: 2rem;
}

.callToAction{
    text-decoration: none;
    color: white;
    background-color: #2596be;
    padding: 0.8rem;
    border-radius: 20px;
    width: 7rem;
    text-align: center;
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.callToAction:hover{
    background-color: white;
    color: black;
    border-color: #2596be;
    border-style: solid;
    border-width: 0.01rem;
    
    
}

.homeTitle{
    font-size: 30pt;
    text-transform: uppercase;
}

.featuredBooks{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}
.singleBook :hover{
    transform: scale(1.1);
    
}
.featuredBooksTitle{
    text-transform: uppercase;
}

/* books page styling */
/*singleBook also used in home*/
.singleBook{
    margin: 1rem;
    width: 282px;
}

.titleSection{
    display: flex;
    justify-content: space-between;
}
.titleSection p{
    width: 50%;
}
.feruchemyImage{
    height: auto;
    width: 15rem;
    margin-right: 8%;
    margin-top: -3rem;    
    margin-bottom: 2rem;    
}
.booksList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
}
.booksTitle{
    text-transform: uppercase;
}

/* single book page styling */

.singleBookContent{
    display: flex;
    justify-content: space-around;
}
.singelBookImage{
    width: 200%;
    margin-left: 13rem;
    margin-top: 4rem;
}
.singelBookTitle{
    text-transform: uppercase;
}
.singleBookGenres{
    margin-left: 2rem;
}

/* about us page styling*/

.aboutTitles{
    text-transform: uppercase;
}

.writerImage{
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    margin-top: -2rem;
}
.aboutImage{
    height: 40%;
    width: 40%;
    margin-top: 1rem;
    margin-right: 6rem;
}

.aboutSection{
    display: flex;
    justify-content: space-between;
}
.aboutSection article{
    width: 60%;
}
.missionSection{
    display: flex;
    justify-content: space-between;
}
.missionSection article{
    width: 50%;
}