html {
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: white;
    font-family: sans-serif;
  }
  body {
    margin: 0;
    color: black;
  }
  
  .content {
    max-width: 1080px;
    margin: auto;
  }
  
  .nav {
    display: flex;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    height: 5rem;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    list-style: none;

  }
  
  .nav-link-item {
    padding-right: 2rem;
  }
  
  .nav-link-content {
    color: black;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: bold;
    transition: color 0.5s ease;
  }
  
  .nav-link-content:hover {
    color: #2596be;
    text-shadow: 0 0 2rem #2596be; 
    transition: text-shadow 0.5s ease;
  }
.siteTitle {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 16pt;
    margin-right: auto;
  }
  
  .nav-link-item {
    padding-left: 2rem;
  }
  .main-content{
    font-size: 13pt;
  }